        
body{
    background-color:wheat;
}


div{
    border: 1px solid black;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 200px;
    margin-bottom: 100px;
    background-color: gray;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;

}  

table{
    border-collapse: collapse;
    width: 100%;
}

table,th,td{
    border: 1px solid black;
}
th{
    height: 30px;
    text-align: left;
}
td{
    height: 40px;
    vertical-align: auto;
    text-align: left;
    padding-left: 10px;
}
tr:hover{
    background-color: gray;
}
tr:nth-child(even){
    background-color: gray;
}
tr:nth-child(odd){
    background-color: red;
}

